

/*Mentres el botó estigui estàtic si passes el mouse per damunt canvii a
 * color blau*/
button:hover{
	background-color:#4870bc;}
/*Si polses sobre el botó aquest durant uns instants es posa de color 
 * vermell*/
button:active{
	background-color:#993401;}
	
/*El fons de la finestra el poso d'un color blau*/	
window{background-color: #133578;}
